.maindiv{
    width: calc(100% - 80px);
    margin-left: 80px;
    padding: 50px;
	min-height: calc(100vh - 80px);
    background: black;
    color: white;
}

.playlisttitle{
    color: white;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
}

@media (max-width: 1250px) {
    .playlisttitle{
        margin-left: 10px;
    }
}

@media (max-width: 1250px) {
    .autodiv{
        height: 80px;
    }
    .maindiv{
        width: 100%;
        margin-left: 0px;
        padding: 10px;
    }
}