.slickslider {
	width: 100%;
	margin: auto;
}

.slickSlide {
	display: grid;
	text-align: center;
	font-size: 18px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	cursor: pointer;
}

.slickSlide span img:hover {
	opacity: 0.7;
	transition: opacity 0.3s;
	cursor: pointer;
}

.slickSlide span img {
	border-radius: 10px;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
}

.slickSlide span {
	border: 2px solid #FDFDFD !important;
	border-radius: 10px;
}

.slickSlide span span {
	border: none !important;
	border-radius: 0px;
}

.nextArrow, .prevArrow{
	cursor: pointer;
}

.btnmore{
	cursor: pointer;
	color: white;
}

.editortitle{
    color: white;
    margin-bottom: 30px;
}

@media (max-width: 1250px) {
    .editortitle{
        color: white;
        margin-left: 10px;
    }
}

.slickimage{
    border-radius: 5px;
}

.slickcontent{
	width: 135px;
	color: white;
	text-align: left;
	font-size: 13px;
	margin-top: 5px;
}