/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 10;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: -100px;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: -80px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}